.container {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.imgLink {
  border-radius: 5px;
}

.imgContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
