.container {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-top: 15px;
  box-shadow: 0 5px 30px 5px rgba(81, 81, 81, 0.501);
}

.imgLink {
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(81, 81, 81, 0.501);
}

.imgContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
